@import './normalize.scss';
@import './variables.scss';

// mobile first 

body {
    padding: 2rem;
    background-color: var(--bg-color);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.card {
    width: 35rem;
    background-color: white;

    @include tab {
        width: 60rem;
        height: 45rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;

            @include tab {
                width: 30rem;

            }

            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;

        }
    }

    &__info {
        @include tab {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        padding: 2.3rem;

        .tag {
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--grey-1);
        }

        h2 {
            font-size: 3.2rem;
        }

        p {
            font-size: 1.3rem;
            color: var(--grey-1);
            line-height: 1.5;
            margin: 1rem 0 2rem 0;
        }

    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-sale {
            font-size: 3.2rem;
            color: var(--green-1);
            font-weight: bold;
            margin-right: 2rem;
        }

        &-old {
            color: var(--grey-1);
            text-decoration: line-through;
            font-size: 2rem;
        }

    }

    &__cta {

        &:link,
        &:visited {
            text-decoration: none;
            background-color: var(--green-1);
            border-radius: 1rem;
            padding: 1.5rem 0 1.5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.7rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.862);
            margin-top: 1rem;
            transition: all 0.2s ease-in-out;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

            @include tab {
                padding: 2rem 7rem;
                margin-top: 3rem;
            }

            img {
                margin-right: 1rem;
            }

        }

        &:hover {
            background-color: var(--green-2);
            transform: translateY(-2px);


        }

        &:active {
            transform: translateY(0S);
        }
    }

}