.section_features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 60vh;
    padding-top: var(--section-padding);
    gap: 20rem;
    align-content: stretch;
    position: relative;
    margin-bottom: 3rem;

    @include tab {
        gap: 5rem;
    }

    @include mobile {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 5rem;
        padding-top: 4rem;

        h2 {
            font-size: 3rem;

        }

        p {}

    }

    .bg {
        position: absolute;
        z-index: -10;
        left: -30%;
        top: 50%;

        @include mobile {
            left: 30%;
            top: 50%;

        }
    }

    ul {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        li {
            list-style-type: none;
            font-size: 1.6rem;
            counter-increment: features;
            position: relative;


            h3 {
                font-size: 1.6rem;



            }

            p {
                font-size: 1.4rem;
                padding: 3rem 0 5rem 0;
            }

            @include mobile {
                &::after {
                    content: '';
                    width: 100%;
                    height: 4rem;
                    background-color: var(--Very-Pale-Red);
                    border-radius: 2rem;
                    inset: 0;
                    position: absolute;
                    z-index: -22;
                    top: -5%;
                }
            }

            &::before {
                content: '0' counter(features);
                display: inline-block;
                border-radius: 2rem;
                background-color: var(--Bright-Red);
                color: white;
                padding: 1rem 2rem;
                position: absolute;
                left: -15%;
                top: -5%;

                @include mobile {
                    left: -7%;
                    top: -5%;

                }

                @include tab {
                    padding: 0.5rem 1rem;

                    left: -14%;
                    top: -2%;
                }


            }
        }
    }

}