.section_msg {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: var(--Bright-Red);
    min-height: 22rem;
    align-items: center;
    justify-items: start;
    position: relative;

    @include tab {
        grid-template-columns: 3fr 1fr;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 30rem;
        text-align: center;

        .cta {
            display: block;
        }

        h3 {
            width: 100%;
        }

    }

    a {
        justify-self: center;
    }

    h3 {
        width: 80%;
        font-size: 39px;
        font-weight: 700;
        letter-spacing: 1.4px;
        color: white;

    }

    * {
        z-index: 33;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../images/bg-tablet-pattern.svg"),
            url("../images/bg-tablet-pattern.svg");
        background-position: -15rem -5rem, 80rem -42rem;
        background-repeat: no-repeat;
        opacity: 0.1;


    }
}