@import './variables';
@import './header';
@import './hero';
@import './features';
@import './slider';
@import './msg';
@import './footer';

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
    overflow-x: hidden;
}



body {
    padding-top: 5rem;
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 109% -12%;
    overflow-x: hidden;
    overflow-y: hidden;


}