@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Overpass&display=swap');

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --gradinet-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradinet-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --font: 'Josefin Sans', sans-serif;



}

@mixin tab {
    @media only screen and (min-width:901px) {
        @content
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.hero {
    font-family: var(--font);
    min-height: 100vh;
    background: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tab {
        display: grid;
        grid-template-areas:
            'logo img'
            'info img';
        grid-template-columns: 55% 1fr;
        grid-template-rows: 5vh 1fr;
        padding-left: 15rem;

    }

    &__img {
        grid-area: img;
        justify-self: end;

        img {
            width: 100%;

        }

        @include tab {
            img {
                width: auto;
                height: 100%;
            }
        }
    }

    .logo {
        margin: 2rem;
        grid-area: logo;

        img {
            height: 5vh;
        }

        @include tab {
            justify-self: start;

            img {
                margin-top: 6rem;
                height: 4rem;
            }
        }
    }

    .info {
        grid-area: info;
        text-align: center;
        padding: 2rem;


        @include tab {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            margin-top: 8rem;
            align-self: center;
            text-align: left;
        }

        h1 {
            font-weight: 600;
            letter-spacing: 5px;
            font-size: clamp(3.5rem, 10vw, 7rem);
            text-transform: uppercase;

            @include tab {}

            span {
                color: var(--Desaturated-Red);
                display: block;
                font-weight: 300;
            }
        }

        p {
            color: var(--Desaturated-Red);
            line-height: 1.8;
            font-size: clamp(1.2rem, 5vw, 3rem);

            font-weight: 400;

            @include tab {
                font-size: 2.8rem;
                width: 75%;

            }
        }
    }

    form {
        margin: 2rem 0 2rem 0;
        position: relative;

        @include tab {
            width: 100%;
            // transform: translateX(-2rem);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 3rem;
            height: 3rem;
            background-image: url('../images/icon-error.svg');
            background-repeat: no-repeat;
            background-size: cover;
            left: 75%;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }

        &:has(input:focus:invalid)::after {
            opacity: 1;
        }



        input[type=email] {

            width: 80%;
            min-width: 20rem;
            height: 3.5rem;
            border-radius: 3rem;
            color: var(--Desaturated-Red);
            border: 2px solid var(--Desaturated-Red);
            padding: 2rem 4rem;
            font-size: 1.7rem;
            font-weight: 400;
            position: relative;

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem var(--Desaturated-Red);
            }



            &::-webkit-input-placeholder {
                color: var(--Soft-Red);
            }



        }

        button {
            position: absolute;
            border: none;
            padding: 1rem 3rem;
            border-radius: 3rem;
            background: var(--gradinet-2);
            transform: translateX(-5rem);

            img {
                transition: all 0.3s ease-in-out;

            }

            @include tab {
                transform: translateX(-7rem);

            }

            &:hover {
                background: var(--Soft-Red);

                img {
                    transform: scale(1.2) translateX(5px);
                }
            }
        }

    }
}