:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Bright-Red-2: hsl(12, 100%, 77%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
  --font: "Be Vietnam Pro", sans-serif;
  --section-padding: 11rem;
  counter-reset: features;
}

.p-x {
  padding-left: clamp(1.8rem, 10vw, 21.8rem);
  padding-right: clamp(1.8rem, 10vw, 22rem);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
}

@media only screen and (min-width: 901px) {
  .display-none-desktop {
    display: none;
    visibility: hidden;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fromleft {
  0% {
    transform: translateY(-300%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  header {
    justify-content: space-between;
  }
}
header .logo {
  width: 15rem;
}
@media only screen and (max-width: 900px) {
  header .logo {
    width: 20rem;
  }
}
header .logo img {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  header .background {
    width: 200vw;
    height: 1000vh;
    background-color: rgba(27, 27, 27, 0.63);
    position: fixed;
    transform: translateX(-50%);
    z-index: 99;
  }
}
header nav {
  width: 40%;
}
@media only screen and (max-width: 900px) {
  header nav {
    animation: fade 0.3s;
    background-color: var(--Vary-Light-Gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 35vh;
    z-index: 9999;
  }
}
header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  header nav ul {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
header nav li {
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 0.3s;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  header nav li {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
header nav li:hover {
  color: var(--Bright-Red);
}
header .icon-hamburger {
  cursor: pointer;
  display: grid;
  place-content: center;
  grid-template-areas: "overlay";
  transition: all 0.3s;
  animation: fade 0.3s ease-in-out;
}
header .icon-hamburger * {
  grid-area: overlay;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 999;
}
header .icon-hamburger.bg {
  position: absolute;
  background-color: var(--Bright-Red);
  border-radius: 50%;
  padding: 1.2rem;
  z-index: 99999;
  right: 10%;
  top: 15%;
}

@media only screen and (max-width: 900px) {
  .display-none-m {
    display: none;
  }
}

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 50vh;
  padding-top: var(--section-padding);
  justify-items: center;
}
@media only screen and (max-width: 900px) {
  section.hero {
    grid-template-columns: 1fr;
    justify-content: center;
    place-content: center;
  }
}
section.hero .imgs {
  width: 95%;
}
section.hero .imgs img {
  width: 95%;
}
section.hero .type {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 900px) {
  section.hero .type {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  section.hero .type {
    grid-row: 2/3;
    text-align: center;
    align-items: center;
  }
}
section.hero .type h1 {
  width: clamp(75%, 70vw, 80%);
  color: var(--Dark-Blue);
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.25px;
}
@media (min-width: 901px) and (max-width: 1440px) {
  section.hero .type h1 {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  section.hero .type h1 {
    letter-spacing: 0px;
    line-height: 110%;
    font-size: clamp(3.5rem, 5vw, 5rem);
    width: 100%;
    font-weight: 800;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 3.8rem;
  width: 70%;
  font-weight: 700;
  color: var(--Dark-Blue);
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  h2 {
    width: 100%;
    font-weight: 800;
  }
}

p {
  width: 60%;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Dark-Grayish-Blue);
}
@media (min-width: 901px) and (max-width: 1440px) {
  p {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  p {
    width: 100%;
  }
}

.cta, .cta:link, .cta:visited {
  text-decoration: none;
  background-color: var(--Bright-Red);
  text-align: center;
  padding: 1.5rem 2rem 3rem;
  border-radius: 3rem;
  font-size: 1.3rem;
  color: white;
  display: inline-block;
  width: 13.5rem;
  height: 4.5rem;
  box-shadow: var(--Bright-Red) 0px 7px 10px;
  transition: all 0.3s;
}
@media only screen and (max-width: 900px) {
  .cta, .cta:link, .cta:visited {
    display: none;
  }
}
.cta--white, .cta--white:link, .cta--white:visited {
  background-color: var(--Very-Pale-Red);
  color: var(--Bright-Red);
  box-shadow: none;
}
.cta--white:hover, .cta--white:active, .cta--white:link:hover, .cta--white:link:active, .cta--white:visited:hover, .cta--white:visited:active {
  background-color: var(--Vary-Light-Gray);
  transform: translateY(-3px);
}
.cta:hover, .cta:active {
  background-color: var(--Bright-Red-2);
}

.section_features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60vh;
  padding-top: var(--section-padding);
  gap: 20rem;
  align-content: stretch;
  position: relative;
  margin-bottom: 3rem;
}
@media (min-width: 901px) and (max-width: 1440px) {
  .section_features {
    gap: 5rem;
  }
}
@media only screen and (max-width: 900px) {
  .section_features {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 5rem;
    padding-top: 4rem;
  }
  .section_features h2 {
    font-size: 3rem;
  }
}
.section_features .bg {
  position: absolute;
  z-index: -10;
  left: -30%;
  top: 50%;
}
@media only screen and (max-width: 900px) {
  .section_features .bg {
    left: 30%;
    top: 50%;
  }
}
.section_features ul {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section_features ul li {
  list-style-type: none;
  font-size: 1.6rem;
  counter-increment: features;
  position: relative;
}
.section_features ul li h3 {
  font-size: 1.6rem;
}
.section_features ul li p {
  font-size: 1.4rem;
  padding: 3rem 0 5rem 0;
}
@media only screen and (max-width: 900px) {
  .section_features ul li::after {
    content: "";
    width: 100%;
    height: 4rem;
    background-color: var(--Very-Pale-Red);
    border-radius: 2rem;
    inset: 0;
    position: absolute;
    z-index: -22;
    top: -5%;
  }
}
.section_features ul li::before {
  content: "0" counter(features);
  display: inline-block;
  border-radius: 2rem;
  background-color: var(--Bright-Red);
  color: white;
  padding: 1rem 2rem;
  position: absolute;
  left: -15%;
  top: -5%;
}
@media only screen and (max-width: 900px) {
  .section_features ul li::before {
    left: -7%;
    top: -5%;
  }
}
@media (min-width: 901px) and (max-width: 1440px) {
  .section_features ul li::before {
    padding: 0.5rem 1rem;
    left: -14%;
    top: -2%;
  }
}

.section_reviews {
  width: 100vw;
  margin: 5rem 0 5rem 0;
}
@media only screen and (max-width: 900px) {
  .section_reviews {
    margin: 2rem 0 2rem 0;
  }
}
.section_reviews .type {
  margin-bottom: 6rem;
}
.section_reviews .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  .section_reviews .slider {
    gap: 5rem;
  }
}
.section_reviews .splide__track {
  overflow: visible;
}
.section_reviews .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--Vary-Light-Gray);
  flex: 0 0 35%;
  margin: 2rem;
}
@media only screen and (max-width: 900px) {
  .section_reviews .slide {
    flex: 0 0 90%;
  }
}
.section_reviews .slide * {
  margin-bottom: 3rem;
}
.section_reviews .slide img {
  width: 72px;
  position: absolute;
  top: -30%;
}
.section_reviews .slide h6 {
  margin-top: 5rem;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.section_reviews .slide p {
  width: 100%;
}

#splide01 > ul > li {
  display: none;
}

.section_msg {
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: var(--Bright-Red);
  min-height: 22rem;
  align-items: center;
  justify-items: start;
  position: relative;
}
@media (min-width: 901px) and (max-width: 1440px) {
  .section_msg {
    grid-template-columns: 3fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .section_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 30rem;
    text-align: center;
  }
  .section_msg .cta {
    display: block;
  }
  .section_msg h3 {
    width: 100%;
  }
}
.section_msg a {
  justify-self: center;
}
.section_msg h3 {
  width: 80%;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: white;
}
.section_msg * {
  z-index: 33;
}
.section_msg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/bg-tablet-pattern.svg"), url("../images/bg-tablet-pattern.svg");
  background-position: -15rem -5rem, 80rem -42rem;
  background-repeat: no-repeat;
  opacity: 0.1;
}

footer {
  background-color: var(--Very-Dark-Blue);
  color: var(--Dark-Grayish-Blue);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: start;
  justify-items: center;
  grid-template-areas: "logo nav1 nav2 form" "social nav1 nav2 text";
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas: "form  form" "nav1 nav2" "nav1 nav2" "social social" "logo logo" "text text";
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  footer * {
    align-self: center;
    justify-self: center;
  }
}
footer .socials {
  grid-area: social;
  align-self: self-end;
  justify-self: self-start;
  width: 15.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  footer .socials {
    margin-top: 2rem;
    align-self: center;
    justify-self: center;
    scale: 1.7;
  }
}
footer .socials > * {
  width: 4rem;
  height: 4rem;
  fill: white;
  transition: fill 0.3s;
}
footer .socials > *:hover {
  fill: var(--Bright-Red);
}
footer .logo-w {
  grid-area: logo;
  width: 15.5rem;
  justify-self: self-start;
}
@media only screen and (max-width: 900px) {
  footer .logo-w {
    justify-self: center;
    align-self: center;
    width: 18rem;
  }
}
footer ul.nav {
  font-size: 1.6rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
footer ul.nav li {
  list-style-type: none;
  transition: color 0.3s;
}
footer ul.nav li:hover {
  color: var(--Bright-Red);
}
footer .nav-1 {
  grid-area: nav1;
}
footer .nav-2 {
  grid-area: nav2;
}
footer form {
  grid-area: form;
  justify-self: self-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 4rem;
}
footer form input {
  background-color: white;
  padding: 1.5rem 3.5rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  caret-color: var(--Bright-Red);
}
footer form button {
  border: none;
  background-color: var(--Bright-Red);
  color: white;
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  transition: all 0.3s ease;
}
footer form button:hover {
  color: var(--Bright-Red);
  background-color: var(--Vary-Light-Gray);
}
footer p {
  grid-area: text;
  font-size: 1.8rem;
  width: 100%;
  align-self: self-end;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
  overflow-x: hidden;
}

body {
  padding-top: 5rem;
  background-image: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: 109% -12%;
  overflow-x: hidden;
  overflow-y: hidden;
}/*# sourceMappingURL=main.css.map */